:root {
    --primary-brand:#4D5AE5;
    --text-color: #434455;
    --title-color: #2E2F42;
    --accent-color:#E7E9FC;
    --lightbg-color:#F4F4FD;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: #FFFFFF;
}
.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color)
}
.subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color)
}
.list {
    color: var(--title-color);
    list-style: none;
}
.link {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/* Logo */
.logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.logo-color  {
    color: var(--primary-brand)
}
/* Navigation */
.site-nav {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
    color: var(--text-color);
}
.link-nav {
    color:var(--primary-brand);
}
.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.contacts-link:hover {
    color:var(--primary-brand)
}

/* Contacts */
.contacts .link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.contacts .link:hover {
    color:var(--primary-brand)
}
/* Hero */
.hero {
    background-color: #434455;
}
.hero-title{
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.button{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
/* Section 1 */
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Section 2 */

/* Section 3 */
.team {
    background-color: var(--lightbg-color);
}
.team-item {
    background-color: #FFFFFF;
}
/* Footer */
.footer {
    background-color: #434455;
}
.footer .logo {
    line-height: 1.17;
    color: var(--lightbg-color) ;
}
.footer .text {
    color: var(--accent-color);
}

/* Portfolio */
.btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    background-color: var(--accent-color);
    cursor: pointer;
}
.btn:hover,
.btn:focus {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--primary-brand);
}
